<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<nav class="header" th:fragment="header">

    <div class="container">
    <h1><a th:href="@{/}">EShop</a></h1>
    </div>
	<div class="container">
	<h3> Search via: </h3>
		<form th:action="@{/search}" method="get">
			<select name="category">
				<option disabled selected label="Select Category"></option>
	    		<option th:each="category : ${T(com.ms.ecommerce.eshop.data.entity.ProductCategory).values()}"
	        		th:id="${{category}}" th:value="${{category}}" th:text="${category.label}"></option>
			</select>
			<button type="submit">Search</button>
		</form>
	</div>
	<div class="container">
	<h3> Keyword: </h3> 
		<form th:action="@{/search}"  method="get"> 
			<input type="text" th:name="keyword" th:placeholder="Keyword"/>
			<button type="submit">Search</button>
		</form>
	</div>
	<div class="container" sec:authorize="!isAuthenticated()">
		<h3><a th:href="@{/login}">Log in</a></h3>
	</div>
	<div class="container" sec:authorize="isAuthenticated()">
		<h3>You are logged in.</h3><h3 th:text="'Your id is: ' + ${session.userId}"></h3>
	</div>
	<div class="container" sec:authorize="hasAnyRole('ADMIN', 'USER')">
		<h3><a th:href="@{/newProduct}">Add new Product</a></h3>
	</div>
	<div class="container" sec:authorize="isAuthenticated()">
		<h3><a th:href="@{/logout}" >Logout</a></h3>
	</div>
	<div class="container" >
		<h3 th:text="${session.cart.getNumberOfItemsInCart()} == 0 ? 'Your cart is empty' : 'Items in your cart: ' + ${session.cart.getNumberOfItemsInCart()}" ></h3>
		<p th:if="${session.cart.getNumberOfItemsInCart() != 0}"><a th:href="@{/showCart}">Show cart</a></p>
	</div>
	
</nav>
</body>
</html>