<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of All Products</title>
<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
	<div class="page-header">
		<h1>List of Products:</h1>
	</div>
</div>
<div class="container">
	
	<div class="product-display" th:each="product: ${data}">
				<p th:text="${product.name}">Product Name</p>
				<p th:text="${product.price}">Product Price</p>
				<p th:text="${product.shortDescription}">Product Description</p>
	</div>

</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>