<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title th:text="'Product page: ' + ${product.name}">Product page</title>
<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
	<div class="d-inline-block bg-primary text-white">
			<p th:text="${product.name}">Product Name</p>
			<p th:text="${product.price}">Product Price</p>
			<p th:text="${product.longDescription}">Product Description</p>
			<p th:text="${product.shippingMethod}">Product Description</p>
			<p th:text="${product.category}">Product Description</p>
	</div>
</div>
	<div sec:authorize="hasAnyRole('ADMIN', 'USER')">
		<h3><a th:href="@{__${#httpServletRequest.requestURI}__/edit}">Edit</a></h3>
	</div>
	<div th:if="${product.productsInStock != 0}">
		<form th:action="@{/addToCart}" th:object="${cartDTO}" method="post">
			<input type = "hidden" name = "productId" th:value ="${product.productId}" />
			<input type="hidden" id="name" name="name" th:value ="${product.name}"/>
   			<input type="hidden" id="price" name="price" th:value ="${product.price}" />
   			<input type="hidden" id="shippingMethod" name="shippingMethod" th:value ="${product.shippingMethod}" />
   			<!-- TODO: checking vs max items available, disabling if stock is 0 -->
   			<p>Amount: <input type="number" id="amount" name="amount" step="1" min="1" required="required" pattern="[0-9]{1,20}"/> </p>  
			<button type="submit">Add to Cart</button>
		</form>
	</div>
	<div th:if="${product.productsInStock == 0}">
	<h2> Sorry, this item is currently unavailable.</h2>
	</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>